html,
body {
  background: #000;
  color: #fff;
}

div {
  padding: 10px;
  border: 1px dashed rgba(255, 255, 255, 0.25);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.modal > .modal {
  position: relative;
  top: initial;
  left: initial;
  transform: initial;
  padding: 10px;
  border: 1px dashed rgba(255, 255, 255, 0.25);
}
